.smallerContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 45%;
}
.biggerContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 55%;
	height: 600px;
	padding: 3rem;
}

.biggerContainer h2 {
	font-size: 4rem;
	line-height: 4rem;
}

.biggerContainer > * {
	margin-bottom: 2rem;
}

.biggerContainer h2 span {
	background: -webkit-linear-gradient(
		right,
		var(--color-cyan-light),
		var(--color-cyan-dark)
	);
	-webkit-background-clip: text;
	font-size: 4.5rem;
	font-weight: bold;
	-webkit-text-fill-color: transparent;
}

.biggerContainer p {
	color: var(--color-gray);
}

.biggerContainer div {
	display: flex;
	justify-content: flex-end;
}

.descriptionSection {
	display: flex;
	margin-bottom: 5rem;
}

.biggerContainer h3 {
	font-size: 2.25rem;
}

.threeImgContainer {
	position: relative;
	height: 100%;
	width: 100%;
}

.threeImgContainer img {
	position: absolute;
	top: 50%;
	width: 200px;
	border: 1px solid var(--color-cyan-light);
	border-radius: 6px;
}

.threeImgContainer .imageOne {
	right: 370px;
	top: 250px;
}

.threeImgContainer .imageTwo {
	right: 210px;
	top: 110px;
	z-index: 1;
}

.threeImgContainer .imageThree {
	right: 100px;
}
