.icon {
	width: 80%;
	height: 80%;
}

.circleIconsContainer {
	display: flex;
	gap: 0.25rem;
}

.filterContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
}

.btnsContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.leftBtnsContainer > *:first-child {
	margin-right: 0.5rem;
}

.searchInput {
	padding: 0.25rem 1.25rem;
	outline: none;
	border: 1px solid var(--color-black-500);
	border-radius: 50px;
	background-color: var(--color-black-500);
	color: var(--color-white);
}

.searchInput:focus {
	background-color: var(--color-black-200);
}
