.icon {
	width: 80%;
	height: 80%;
}

.circleIconsContainer {
	display: flex;
	gap: 0.25rem;
}

.filterContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
}

.btnsContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.leftBtnsContainer > *:first-child {
	margin-right: 0.5rem;
}
